/* ----------------------------- public ------------------------------ */
body {
    font-family: "Helvetica Neue","Luxi Sans","DejaVu Sans",Tahoma,"Hiragino Sans GB",STHeiti,sans-serif!important;
}
#root, .page {
    min-height: 100vh;
}
.wrap {
    margin: 0 5px;
}
img {
    max-width: 100%;
}
h1 {
    white-space: normal;
}
/* ----------------------------- header ------------------------------ */

#header {
    padding: 0;
}
#logo {
    margin: 0;
    text-align: center;
}

/* ----------------------------- topic ------------------------------ */
#topic .ant-card {
    margin-top: 10px;
}
.wrap .topic_list {
    padding: 0 10px;
    background-color: white;
}
.topic-tag {
    margin: 0 5px;
}
.indexNav {
    margin-top: 10px;
}
.from_now {
    text-align: right;
}
.index-pagination {
    border-top: 1px solid #f0f0f0;
    padding: 10px 5px;
    background: #fff;
    display: flex;
}
.index-pagination>ul {
    margin: auto;
}

/* ----------------------------- getStart ------------------------------ */

.markdown-text h2 {
    font-size: 24.5px;
    font-weight: bold;
    border-bottom: 1px solid #eee;
}

/* ----------------------------- user ------------------------------ */

.user_page .ant-card{
    margin-top: 10px;
}
.user-details {
    text-align: center;
}

/* ----------------------------- about ------------------------------ */
.ant-card-head-title a {
    color: #80bd01;
}
.topic_content h3 {
    font-size: 24.5px;
    font-weight: bold;
}
.about-logoWrap a {
    color: #778087;
    font-weight: 500;
}
.about-logoWrap a:hover {
    /* text-decoration: line-through; */
    text-decoration: underline;
}

/* ----------------------------- footer ------------------------------ */

#footer {
    padding: 24px 0;
}

/* ----------------------------- media ------------------------------ */

/* >=576px */
@media all and (min-width: 576px) {
    .wrap {
        margin: 0 5px;
    }
}
/* >=768px */
@media all and (min-width: 768px) {
    .wrap {
        margin: 0 15px;
    }
    .wrap .topic_list {
        padding: 0 20px;
    }
}
/* >=992px */
@media all and (min-width: 992px) {
    .wrap {
        margin: 0 20px;
    }
    .wrap .topic_list {
        padding: 0 20px;
    }
}
/* >=1200px */
@media all and (min-width: 1200px) {
    .wrap {
        width: 980px;
        margin: 0 auto;
    }
    .wrap .topic_list {
        padding: 0 30px;
    }
}
/* >=1600px */
@media all and (min-width: 1600px) {
    .wrap {
        width: 1200px;
    }
}